# Add any directories, files, or patterns you don't want to be tracked by version control

UnisportsData/nbproject/private/
UnisportsDesktop/nbproject/private/
UnisportsEntities/nbproject/private/
UnisportsLogic/nbproject/private/
UnisportsTest/nbproject/private/
UnsiportsCross/nbproject/private/

UnisportsData/build/
UnisportsDesktop/build/
UnisportsEntities/build/
UnisportsLogic/build/
UnisportsTest/build/
UnsiportsCross/build/

UnisportsData/nbbuild/
UnisportsDesktop/nbbuild/
UnisportsEntities/nbbuild/
UnisportsLogic/nbbuild/
UnisportsTest/nbbuild/
UnsiportsCross/nbbuild/

UnisportsData/dist/
UnisportsDesktop/dist/
UnisportsEntities/dist/
UnisportsLogic/dist/
UnisportsTest/dist/
UnsiportsCross/dist/

UnisportsData/nbdist/
UnisportsDesktop/nbdist/
UnisportsEntities/nbdist/
UnisportsLogic/nbdist/
UnisportsTest/nbdist/
UnsiportsCross/nbdist/

.nb-gradle/

