# Add any directories, files, or patterns you don't want to be tracked by version control

UnisportsData/nbproject/private/*
UnisportsDesktop/nbproject/private/*
UnisportsEntities/nbproject/private/*
UnisportsLogic/nbproject/private/*
UnisportsTest/nbproject/private/*
UnsiportsCross/nbproject/private/*
/UnisportsRest/nbproject/private/*

UnisportsData/build/*
UnisportsDesktop/build/*
UnisportsEntities/build/*
UnisportsLogic/build/*
UnisportsTest/build/*
UnsiportsCross/build/*

UnisportsData/nbbuild/*
UnisportsDesktop/nbbuild/*
UnisportsEntities/nbbuild/*
UnisportsLogic/nbbuild/*
UnisportsTest/nbbuild/*
UnsiportsCross/nbbuild/*

UnisportsData/dist/
UnisportsDesktop/dist/
UnisportsEntities/dist/
UnisportsLogic/dist/
UnisportsTest/dist/
UnsiportsCross/dist/

UnisportsData/nbdist/
UnisportsDesktop/nbdist/
UnisportsEntities/nbdist/
UnisportsLogic/nbdist/
UnisportsTest/nbdist/
UnsiportsCross/nbdist/

.nb-gradle/

UnisportsTest/nbproject/private/private.properties
/UnisportsRest/nbproject/private/
/UnisportsRest/build/
*.properties
UnisportsRest/nbproject/private/private.xml
UnisportsFXTest/nbproject/private/private.xml
UnisportsLogic/nbproject/private/private.properties
/UnisportsRest/target/
UnisportsDesktop/nbproject/private/private.properties
UnisportsLogic/nbproject/private/private.properties
UnsiportsCross/nbproject/private/private.properties
/UnisportsCross/nbproject/private/
/UnisportsCross/dist/
/UnisportsCross/build/
*.log
