# Add any directories, files, or patterns you don't want to be tracked by version control

UnisportsData/nbproject/private/*
UnisportsDesktop/nbproject/private/*
UnisportsEntities/nbproject/private/*
UnisportsLogic/nbproject/private/
UnisportsTest/nbproject/private/
UnsiportsCross/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/